@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #353535;
}
.wrapper{
    width: 400px;
    background: #FFFF;
    border-radius: 3%;
}
.wrapper header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px 0;
}
header .date{
    font-size: 25px;
    font-weight: 600;
}
header .navegation span{
    display: inline-block;
    height: 38px;
    width: 38px;
    color: #878787;
    margin: 0 1px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.calendar{
    padding: 20px;
}
.calendar .weeks li{
    font-weight: 600;
}
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.weeks{
    margin-bottom: 30px;
}
.calendar ul li{
    width: calc(100%/7);
}
.days li{
    height: 70px;
}
.activate1{
    color: #FFFF;
    justify-content: center;
    background: #5E5DF0;
}
.activate2{
    color: #FFFF;
    justify-content: center;
    background: #d62424;
}
.activate3{
    color: #FFFF;
    justify-content: center;
    background: #1ead42;
}
.activate4{
    color: #FFFF;
    justify-content: center;
    background: #d6d306;
}
.inactivate{
    color: #c4c4c4;
}

.inactivate-next-month1{
    color: #FFFF;
    justify-content: center;
    background: #cfcfff;
}
.inactivate-next-month2{
    color: #FFFF;
    justify-content: center;
    background: #ffaeae;
}
.inactivate-next-month3{
    color: #FFFF;
    justify-content: center;
    background: #86fca4;
}
.inactivate-next-month4{
    color: #b8b8b8;
    justify-content: center;
    background: #fffd9b
}
.cc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.folga{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}
.square-folga1{
    width: 17px;
    height: 17px;
    background-color: #5E5DF0;
}
.square-folga2{
    width: 17px;
    height: 17px;
    background-color: #d62424;
}
.square-folga3{
    width: 17px;
    height: 17px;
    background-color: #1ead42;
}
.square-folga4{
    width: 17px;
    height: 17px;
    background-color: #d6d306;
}
.folga p{
    margin: 10px 10px 10px 4px;
}